.eventsMain {
	background-color: #00bbf9;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Ubuntu Mono', monospace;
	overflow: scroll;
}

.eventBox {
	text-align: center;
	background-color: #00bbf9;
}

.eventBox h3 {
	background-color: #00bbf9;
	text-align: center;
	font-size: 2em;
	text-decoration: underline;
	margin-top: 0.5em;
}

.eventBox div {
	text-align: center;
	font-size: 1.5em;
	background-color: #00bbf9;
}
