.contactMain {
	margin: 0px;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #a377da;
	font-family: 'Ubuntu Mono', monospace;
}

.contactContainer h2 {
	text-align: center;
	font-size: 3em;
	font-family: 'Ubuntu Mono', monospace;
	margin-top: 1em;
	text-decoration: underline;
}

.contactPhone {
	font-size: 2.5em;
	text-align: center;
	padding: 1em;
}
.contactEmail {
	font-size: 2.5em;
	text-align: center;
	padding: 1em;
}
.contactAddress {
	font-size: 2.5em;
	text-align: center;
	padding: 1em;
}
